@model VehicleWebApp.ViewModels.VehicleMakeDetailsViewModel
@{ 
    ViewData["Title"] = "Vehicle make delete";
}

<h3>Vehicle make delete</h3>
<a asp-controller="VehicleMake" asp-action="Index">
    <i class="fas fa-long-arrow-alt-left"></i> Back to list
</a>

<h6 class="text-danger">
    Are you sure that you want to delete this vehicle make with his models?
</h6>
<div class="row">
    <div class="col-md-4">
        <p>Id: <b>@Model.VehicleMake.VehicleMakeId</b></p>
        <p>Name: <b>@Model.VehicleMake.Name</b></p>
        <p>Abrv: <b>@Model.VehicleMake.Abrv</b></p>
        
        <p>Models:</p>
        @if (@Model.VehicleMake.VehicleModels.Count == 0)
       {
            <p class="text-center">
                <i>There are currently no registrated models for this vehicle make.</i>
            </p>
        } else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Abrv</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model.VehicleMake.VehicleModels)
                   {
                        <tr>
                            <td>@item.VehicleModelId</td>
                            <td>@item.Name</td>
                            <td>@item.Abrv</td>
                            <td>
                                <a asp-controller="VehicleModel" 
                                   asp-action="Details" 
                                   asp-route-id="@item.VehicleModelId">
                                   Details
                               </a>
                            </td>
                        </tr>
                   }     
                </tbody>
            </table>
        }
    </div>
</div>

<form method="post" asp-controller="VehicleMake" asp-action="Delete">
    <input type="submit" class="btn btn-danger" value="Delete" />
    <p>
       <small>
           <i>Note: with vehicle make also will be deleted their vehicle models if they exist.</i>
        </small>
    </p>
</form>