@model List<VehicleWebAppService.Models.VehicleMake>
@{ 
    ViewData["Title"] = "Vehicle makes";
}

<a class="btn btn-info" asp-controller="VehicleMake" asp-action="Create">Create new <i class="fas fa-car-alt"></i></a>

@if (Model == null || Model.Count == 0)
{
    <p class="text-center">There are currently no vehicle makes in database.</p>
} else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Abrv</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.VehicleMakeId</td>   
                    <td>@item.Name</td>
                    <td>@item.Abrv</td>
                    <td>
                        <a asp-controller="VehicleMake" asp-action="Edit" 
                            asp-route-id="@item.VehicleMakeId">Edit</a> |
                        <a asp-controller="VehicleMake" asp-action="Details" 
                            asp-route-id="@item.VehicleMakeId">Details</a> |
                        <a asp-controller="VehicleMake" asp-action="Delete" 
                            asp-route-id="@item.VehicleMakeId">Delete</a>
                    </td>
                    
                </tr>
            }    
        </tbody>
    </table>
}