@model VehicleWebApp.ViewModels.VehicleModelViewModel
@{ 
    ViewData["Title"] = "Vehicle models";
}

<a class="btn btn-success" asp-controller="VehicleModel" asp-action="Create">
    Create new <i class="fas fa-car-alt"></i>
</a>

<form method="get asp-action="Index">
    <div class="form-group">
        <p>
            Filter by Vehicle Make name: <input type="text" name="SearchString" 
                value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-outline-info" />
        </p>
    </div>
</form>

@if (Model == null || Model.VehicleModels.Count == 0)
{
    <p class="text-center">There are currently no vehicle models in database.</p>
} else
{
     <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]"
                        asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        Id
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["VehicleMakeNameSortParm"]"
                        asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        Vehicle make name
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["VehicleMakeAbrvSortParm"]"
                        asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        Vehicle make abrv
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["ModelSortParm"]"
                        asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        Model name
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["AbrvSortParm"]"
                        asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        Model abrv
                    </a>
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.VehicleModels)
                {
                    <tr>
                        <td>@item.VehicleModelId</td>   
                        <td>@item.VehicleMake.Name</td>
                        <td>@item.VehicleMake.Abrv</td>
                        <td>@item.Name</td>
                        <td>@item.Abrv</td>
                        <td>
                            <a asp-controller="VehicleModel" asp-action="Edit" 
                                asp-route-id="@item.VehicleModelId">Edit</a> |
                            <a asp-controller="VehicleModel" asp-action="Details" 
                                asp-route-id="@item.VehicleModelId">Details</a> |
                            <a asp-controller="VehicleModel" asp-action="Delete" 
                                asp-route-id="@item.VehicleModelId">Delete</a>
                        </td>
                    </tr>
                }    
        </tbody>
    </table>   
}
@{
    var prevDisabled = !Model.VehicleModels.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.VehicleModels.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.VehicleModels.PageNumber - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.VehicleModels.PageNumber + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>