@model List<VehicleWebAppService.Models.VehicleModel>
@{ 
    ViewData["Title"] = "Vehicle models";
}

<a class="btn btn-success" asp-controller="VehicleModel" asp-action="Create">
    Create new <i class="fas fa-car-alt"></i>
</a>

@if (Model == null || Model.Count == 0)
{
    <p class="text-center">There are currently no vehicle models in database.</p>
} else
{
     <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]">
                        Id
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["VehicleMakeNameSortParm"]">
                        Vehicle make name
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["VehicleMakeAbrvSortParm"]">
                        Vehicle make abrv
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["ModelSortParm"]">
                        Model name
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["AbrvSortParm"]">
                        Model abrv
                    </a>
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.VehicleModelId</td>   
                        <td>@item.VehicleMake.Name</td>
                        <td>@item.VehicleMake.Abrv</td>
                        <td>@item.Name</td>
                        <td>@item.Abrv</td>
                        <td>
                            <a asp-controller="VehicleModel" asp-action="Edit" 
                                asp-route-id="@item.VehicleModelId">Edit</a> |
                            <a asp-controller="VehicleModel" asp-action="Details" 
                                asp-route-id="@item.VehicleModelId">Details</a> |
                            <a asp-controller="VehicleModel" asp-action="Delete" 
                                asp-route-id="@item.VehicleModelId">Delete</a>
                        </td>
                    </tr>
                }    
        </tbody>
    </table>   
}
